<h1>Sign Up for My Travel Journal</h1>

<%= form_with :model => @user do |form| %>
  <div>
    <%= form.label "username", class: "form-label" %>
    <%= form.text_field "username", class: "form-control" %>
  </div>
 
  <div>
    <%= form.label "email", class: "form-label" %>
    <%= form.text_field "email", class: "form-control" %>
  </div>
  
  <div>
    <%= form.label "password", class: "form-label" %>
    <%= form.password_field "password", class: "form-control" %>
  </div>

&nbsp;  
  
  <%= form.submit "Sign Up", class: "btn btn-primary"%>

<% end %>